* {margin: 0;padding: 0;box-sizing: border-box;}
body{background-color: #02011a;}
.container{max-width: 800px;margin-top: 3rem;}
.to-do-app .form-box form{display: flex;gap: 1rem;}
.to-do-app .form-box input{background-color: #ab3b3b;border: none;border-radius: 10px;padding: 1rem 2rem;width: 100%;color: #fff;}
.to-do-app .form-box .form-button{background-color: #ab3b3b;border-radius: 50%;height: 40px;width: 40px;align-self: center;border: transparent;}
.to-do-app .form-box .form-button i{color: #fff;}
.to-do-app .form-box .input:focus{border: none !important;outline: none !important;}
.to-do-app .list-item .list-item-title h2{color: #afafaf;font-size: 1.2rem;}
.to-do-app .list-item .list-item-actions button{background-color: #ab3b3b;border-radius: 50%;border: transparent;height: 30px;width: 30px;}
.to-do-app .list-item .list-item-actions button i{color:#fff ;}
.to-do-app .list-item .completed{text-decoration: line-through;text-decoration-color: #ab3b3b;text-decoration-thickness: 0.2rem;}